IMBALANCE_NATS_URL=nats://nats:4222
IMBALANCE_CLICKHOUSE_URL=http://clickhouse:8123
IMBALANCE_CLICKHOUSE_DATABASE=imbalance
IMBALANCE_CLICKHOUSE_USER=imbalance
IMBALANCE_CLICKHOUSE_PASSWORD=imbalance
IMBALANCE_ELIA_BASE_URL=https://opendata.elia.be/api/explore/v2.1
IMBALANCE_ELIA_IMBALANCE_LIVE_DATASET=ods161
IMBALANCE_ELIA_IMBALANCE_HISTORY_DATASET=ods133
IMBALANCE_FLIP_DEADBAND_MW=10.0
IMBALANCE_LOCAL_WINDOW_MINUTES=180
IMBALANCE_CONTEXT_STEPS=96
IMBALANCE_ENSEMBLE_SIZE=3
IMBALANCE_GMM_COMPONENTS=5
IMBALANCE_MODEL_DIR=/models/production
IMBALANCE_ALLOW_FALLBACK=true
IMBALANCE_API_HOST=0.0.0.0
IMBALANCE_API_PORT=8000
